{% extends 'layout.html' %}

{% block content %}

        <h1 id = "intro">About me_ImSeoYoung</h1>
        <hr>
        <div id = "contents">
        <p><span style="font-weight: bold">이름 </span>임서영</p>
        <p><span style="font-weight: bold">생년월일 </span>2003.03.04</p>
        <p><span style="font-weight: bold">E-mail </span>standyoung03@naver.com</p>
        <p><span style="font-weight: bold">학과 </span>스마트팜학과</p>
        <p><span style="font-weight: bold">현재 수강중인 전공 과목 </span></p>
                                 <p>전산이론기초</p>
                                 <p>작물재배및실습2</p>
                                 <p>농업기상학</p>
                                 <p>응용소프트웨어</p>
        <p><span style="font-weight: bold">관심분야 </span>IT, S/W</p>
        <p><span style="font-weight: bold">취미 </span>헬스</p>

        </div>

c
    {% endblock %}
